<div class="innerContent" id="top-product">
    <div class="container-fluid">
        <div class="row product-row">
            <div class="col-md-4">
                <h3>Portfolio of Products</h3>
                <p>When you become a Repacorp distributor, you become our business partner. We offer a portfolio of label products and printing processes to help you grow your label and tag business. </p>
                <a class="btn btn-blue2" ng-click="distForm()">Become a Distributor</a>
            </div>
            <div class="col-md-8">
                <img style="display:block; margin:0 auto;" src="img/section_photos/Products-top-photo.jpg" alt="Label Products"/>
            </div>
        </div>
    </div>
</div>
<div class="innerContent" id="custom">
    <div class="container-fluid">
        <div class="row product-row">
            <div class="col-md-6">
                <h3>Custom Labels & Tags</h3>
                <p>
                    Repacorp can manufacture just about any custom label or tag your customer might need. We offer multiple printing processes, adhesives, materials, inks, varnishes, multi-laminates, configurations, and core sizes to satisfy your customer’s needs. 
                </p>
                <p>
                    Delivering high-quality and high speed output, our flexo presses can handle up to 12 colors in one pass with web widths up to 11.5” and 4-color process with web widths up to 20”. For short runs, our 4-color process digital presses offer the ability to print opaque white ink and black variable print with precise laser cutting. Our high-speed digital press offers 4-color process, an opaque white option, cold foil and two additional flexo stations for PMS colors, fluorescents, metallic ink or spot varnish. If you need harsh environment, asset control, or warehouse management labels, our thermal transfer press offers up to 4 ribbon colors and prints on almost any material.
                </p>                        
            </div>  
            <div class="col-md-6 white">
                <span class="circle-label" id="custom-labels"></span>                
            </div>  
        </div>
        <div class="row product-row" style="margin-bottom:15px;margin-top:15px;">
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="digital-printing">Digital Printing</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="flexo-printing">Flexographic Printing</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="variable-printing">Variable Printing & Barcoding</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="promotional-labels">Promotional Labels & Cards</a></li>
                </ul>
            </div>
        </div> 
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <p>
                    Repacorp’s knowledgeable staff can help you with patterned adhesives, two-sided printing, multiple SKUs and how to prepare your label for hand inserting or automated inserting equipment. Our in-house design and platemaking team can take your customer’s idea from start to finish, providing a quality label with the most cost effective design.
                </p>                
            </div>
        </div> 
              
    </div>
</div>

<div class="fullImageContent" id="image1">
    <div class="fullImageContentInner" id="imageInner1">
        
    </div>
</div>
<div class="innerContent" id="stock">
    <div class="container-fluid">
        <div class="row product-row row-eq-height">
            <div class="col-md-6">
                <h3>Stock Labels & Tags</h3>
                <p>
                    With over 750 stock items, Repacorp has one of the largest selections of stock labels in the industry. We offer those hard to find sizes, materials, and floodcoated colors. For reorders, stock labels ship blind under our distributor’s company name and logo. Choose from our stock imprints or create a custom imprint for your customer using our stock labels. 
                </p>                
                <p>Repacorp's stock's label catalog includes:</p>
                <div class="center" style="margin-top:25px;">      
                    <a class="btn btn-blue2" ng-click="sampleFormPopup()">Request Free Sample</a>
                </div>          
            </div>
            <div class="col-md-6">
                <span class="circle-label" id="stock-labels"></span>
            </div>
        </div>
        <div class="row product-row">
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="thermal-transfer-label-rolls">Thermal Transfer Label Rolls</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="thermal-transfer-fanfold-stacks">Thermal Transfer Fanfold Stacks</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="thermal-transfer-tags">Thermal Transfer Tags</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="thermal-transfer-specialty-materials">Thermal Transfer Specialty Materials</a></li>
                </ul>                
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="floodcoated-thermal-transfer-labels-rolls">Floodcoated Thermal Transfer</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="thermal-transfer-circles">Thermal Transfer Circles</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="rfid-enabled-thermal-transfer-labels">RFID Enabled </a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="direct-thermal-label-rolls">Direct Thermal</a></li>
                </ul>                
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="direct-thermal-tags">Direct Thermal Tags</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="floodcoated-direct-thermal-label-rolls">Floodcoated Direct Thermal</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="liner-free-repositionable-direct-thermal-rolls">Liner-Free Repositionable Direct</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="laser-sheets">Laser Sheets</a></li>                    
                </ul>                
            </div>
            <div class="col-md-3">
                <ul class="product-list">
                    <li><a class="product-link" ng-click="clickEvent($event)" data="integrated-label-sheets">Integrated Label Sheets</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="inventory-control-labels">Inventory Control Labels</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="handling-labels">Handling Labels</a></li>
                    <li><a class="product-link" ng-click="clickEvent($event)" data="made-usa-labels">Made in the U.S.A Labels</a></li>                    
                </ul>                
            </div>                        
        </div>
        <div class="row product-row">
            <div class="col-sm-12">
                <p>
                    Repacorp Distributors can setup an account to order stock labels and tags online 24/7. Our online catalog provides a visual and description of each item. Product is priced per box, and discount quantity pricing is available. After setting up your account, you will be able to submit repeat orders with a click of a mouse!
                </p>
                <p><a href="http://www.repacorp.com/client/client_login.html" target="_blank">Obtain a password</a> for ordering online. Once we receive your request, your Customer Service Representative will email you login information. After you receive your login credentials, <a href="http://r20.rs6.net/tn.jsp?e=0014FoRyeuRPdHo6oSjK54cah5buYmDZfoxEC5BTUU6aUmpmm-LoQi5Ntu54yg7tLiKOvtmtim8A__xmXmiXtFGWcHWFeJX4T0HYeMn7uCHuZjqI2tnhJ8dqOaBGfitFBcMeRGmk7BLTAI=" target="_blank">login to order stock items online</a>. If you need assistance using the software, please contact your customer service representative for assistance.
                </p>
                <p>
                    <a href="http://www.repacorp.com/client/how_to_use_four51.html" target="_blank">Watch an instructional</a> video to quickly learn how to setup your account and place online orders.
                    
                </p>
                
            </div>
        </div>
    </div>
</div>
<div class="fullImageContent" id="image2">
    <div class="fullImageContentInner" id="imageInner2">        
        
    </div>
    
</div>
<div class="innerContent" id="rfid">
    <div class="container-fluid">    
        <div class="row product-row row-eq-height">
            <div class="col-md-6">
                <h3>RFID Labels & Tags</h3>
                <p>
                    Due to the increase in demand for Radio Frequency Identification (RFID) enabled labels and tags, Repacorp has installed our third RFID press in our Ohio facility. This 8-color RFID press has a 13" web width and servo printing stations. The simplicity of the print station design helps to guarantee consistency and accuracy, resulting in exceptional print precision for pressure sensitive labels and non-pressure sensitive tags.
                </p>  
                <p>
                    Repacorp offers stock, as well as custom solutions, for a wide range of RFID applications. We stock 4" x 1", 4" x 2" and 4" x 6" RFID labels formatted for most industry-standard printers. Repacorp manufactures custom RFID labels and tags in a variety of sizes, materials and with a wide range of inlays. All of our smart labels are 100% verified inline prior to shipment.
                </p>                
            </div>  
            <div class="col-md-6">
                <span class="circle-label" id="rfid-labels"></span>
            </div>  
        </div>  
        
    </div>
</div>
<div class="fullImageContent" id="image3">
    <div class="fullImageContentInner" id="imageInner3">
        
    </div>
</div>
<div class="innerContent" id="wideformat">
    <div class="container-fluid">
        <div class="row product-row row-eq-height">
            <div class="col-md-6">
                <h3>Wide Format Digital Printing</h3>
                <p>Repacorp’s Arizona facility can run roll-to-roll wide formats that include posters, banners, backlit signs, fine art, billboards, and decals. Rigid substrates open up markets for signs, transit advertising, exhibits and displays. We can print on substrates up to 1.9" thick and 98.4" wide with flexible UV inks that do not crack when the printed piece is bent or stretched. This press' superb detail is due to a maximum output resolution of 1,500 dpi, and incorporates drop-on-demand, eight-level grayscale printing heads. The variable ink drop technology enables smooth gradations for photo-quality color printing. It prints up to 21 layers of ink for textured images. Multiple image layering opens up possibilities to produce Braille formats for ADA graphics and double-sided window graphics. <a href="https://www.youtube.com/watch?v=jCQYLH4RgJk" target="_blank">Watch a video</a> about our Truepress Jet2500UV’s capabilities.
                </p>
                <p>
                    Repacorp’s screen presses can print 38” x 52” or 52” X 120”. Whether your clients require floor graphics, counter mats, or magnetic signs, Repacorp is ready to assist you with a divers suite of specialty printing solutions.
                </p>
                
            </div>
            <div class="col-md-6">
                <span class="circle-label" id="wide-format"></span>
            </div>
        </div>  
    </div>
</div>
<div class="fullImageContentLast" id="image-machine">
    <h1 class="center">Partner With Us!</h1>
    <div class="btn-row center">
        <a class="btn btn-blue2" style="width:auto !important;display:inline-block;" ng-click="distForm()">Become a Repacorp Distributor</a>    
    </div>    
</div>